﻿<div class="event" ng-click="vm.toggleAdditionalInfo()">
    <div class="times">
        <span ng-if="vm.data.startTime">{{vm.data.startTime}}</span>
        <span ng-if="vm.data.endTime"> - {{vm.data.endTime}}</span>
    </div>

    <div class="description">{{vm.data.description}}</div>

    <div ng-show="vm.showAdditionalInfo">
        <hr />
        <div class="category">Category: {{vm.data.category}}</div>
        <div ng-repeat="member in vm.members">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <member data="member"></member>
                </div>
            </div>
        </div>

        <no-items text="There are no members for this event" ng-show="vm.members.length === 0"></no-items>
    </div>
</div>