﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - House of Commons Events</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/bundle.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
        <link rel="stylesheet" href="~/css/bundle.min.css" />
    </environment>
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Week" asp-action="Events">House of Commons Events</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - House of Commons Events
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery-ui-1.12.1.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>

    <environment include="Development">
        <script src="~/lib/angular.js/angular.js"></script>
        <script src="~/app/commonsevents.module.js"></script>
        <script src="~/app/helpers/datehelper.js"></script>
        <script src="~/app/helpers/httphelper.js"></script>
        <script src="~/app/helpers/urlbuilder.js"></script>
        <script src="~/app/directives/member/member.directive.js"></script>
        <script src="~/app/directives/datepicker/datepicker.directive.js"></script>
        <script src="~/app/directives/event/event.directive.js"></script>
        <script src="~/app/directives/noitems/noitems.directive.js"></script>
        <script src="~/app/directives/day/day.directive.js"></script>
        <script src="~/app/services/commonsevents.events.service.js"></script>
        <script src="~/app/services/commonsevents.members.service.js"></script>
        <script src="~/app/controllers/commonsevents.controller.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/angular.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>