﻿.datepicker {
    position: relative;
    width: 153px;
}

.datepicker .label {
    display: inline-block;
}

.datepicker input[type="text"] {
    display: inline-block;
    margin-right: 5px;
}

.datepicker .ui-datepicker-trigger {
    position: absolute;
    top: 7px;
    right: 5px;
    margin-right: 0;
    cursor: pointer;
}