﻿.event {
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    padding: 10px;
    cursor: pointer;
}

.event:hover {
    background-color: lightgrey;
}

.event .times {
    font-size: 14px;
    font-weight: bold;
}

.event .description {
    font-size: 14px;
}

.category {
    font-style: italic;
}