﻿.member {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.member .full-title {
    font-weight: bold;
}