﻿@{
    ViewData["Title"] = "Main Chamber";
}

<h2>@ViewBag.Title</h2>

<div ng-cloak ng-app="commonsevents" ng-modules="commonsevents" ng-controller="eventsController as vm" ng-init="vm.getData()">

    <div>
        <label>Select week</label>
        <date-picker date="vm.date" on-date-change="vm.getData()"></date-picker>
    </div>

    <div ng-repeat="day in vm.data.days">
        <day data="day"></day>
    </div>

    <no-items text="There are no events this week" ng-show="vm.data.days.length === 0"></no-items>
</div>